<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jianhui_zhu.simpleweatherwidget">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".daily_weather.DailyWeatherActivity">
        </activity>
        <activity android:name=".air_quality_detail.AirQualityActivity"/>
        <receiver android:name=".widget.SimpleWeatherReceiver" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="action_widget_update"/>
                <action android:name="action_weather_activity_update"/>
                <action android:name="action_query_detail"/>
                <action android:name="action_query_brief"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_info" />
        </receiver>

        <service android:name=".background_service.WidgetService"/>
        <service android:name=".background_service.WeatherDetailService"/>
        <service android:name=".background_service.AirQualityService"/>
    </application>

</manifest>